We will import all libraries required in this assignment

In [1]:
#importing required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Q1.

In [6]:
#Let's connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

In [7]:
url = 'https://www.naukri.com/'
driver.get(url)

In [8]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [9]:
search_job.send_keys('Data Scientist')

In [10]:
search_lcn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_lcn

In [11]:
search_lcn.send_keys('Bangalore')

In [16]:
search_btn =driver.find_element_by_class_name('qsbSubmit')
search_btn

In [17]:
search_btn.click()

#### Extracting Job Information

In [21]:
#let's extract all the web elements having job title
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="a58e3b40-a072-463f-9fa0-6255a467a039")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="80bde828-9fb4-4ea2-93d6-9d16771cdd96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="8af763fd-c8c8-4a93-ba9c-1b1e5c359b67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="310d5880-bc00-4c90-bdc2-22853c472e03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="dac8242f-5e25-4f80-82a6-30b049f16bf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="c5fde8d8-a96e-469d-9a5d-4995dca8b912")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="3ce72460-d1ab-42e8-8500-61cbcc53edba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="6a81d636-8d0a-4a74-956c-d1138f0dcab2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="35362e9c-8f34-4c0b-9fae-47a1514359d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="f213ae87-53cd-4ab3-965a-ce558919826f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="9ec4a51f-8df5-4f53-a8ed-5124ab13b821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="7e22ec68-8bad-48b6-bf4a-b8cc01deb79a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="3c388b1c-2b77-4b4e-851f-4d4a0a37f217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="0258a41f-6318-479e-8491-fbffaeab073a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="6e5b761e-baa1-46b4-b9b1-260eaf12cbbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="4d219d0f-2523-410b-8b75-e050a585c1c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="2a39b816-aaec-405e-8e90-68c57861fcb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="49faf948-0b5b-4ad5-ad81-8f2a2ff3dc8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="d270c4e4-1db7-47de-bd0d-fe57f1e12a39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="2174895c-2473-40ba-b9b7-8789d353c13d")>]

In [33]:
#Now we'll extract job titles from web elements into a list
# We will use for loop for that
job_titles = []
for i in range(0,10):
    job_titles.append(title_tags[i].text)
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Data Scientist / Analyst',
 'Senior Data Scientist I',
 'Senior Risk Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Global Tax Automation & Operations / Data Scientist Advisor',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence']

In [24]:
#let's find all web elements having company name
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="f6b95552-7900-49a2-b729-056e0c553d0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="357b7425-18c5-4deb-95d4-e32804d0f654")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="c5def32c-4c1c-4dfb-806a-ec5d0ce05422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="411923d5-7b90-45cd-b0fd-2ae82ac4bda9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="dd2a2ee9-8e6f-49fb-92f2-4ccb60aeb7ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="c986cbbd-40b5-416a-b926-a24db281a4da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="71a0d37a-32d8-4b1c-ad6c-2069a5648bc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="ba5125e2-d43a-4a64-9a26-ce678b6d1a0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="7593467c-212e-4d11-bbcd-628a23deef7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="f3792517-e4f7-49a1-aca9-37dace46dcfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="957873d0-68b6-4b97-8855-1fe30a3b54ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="cdb053f3-c00d-47c8-b48a-57fbb8415757")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="e7b17ed4-676e-4c0c-95c2-a11b1e8243bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="fb338b5f-8ccb-4845-8612-3774f03549cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="bf8c966b-1562-4502-837f-73902e6bb48b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="84aad5f6-ac02-49ef-bf71-a159dc8cbd98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="63ca2374-0d5b-4b9e-94e8-0a8e645de609")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="45b6a3d4-de35-40f2-9305-ed16edbf3cf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="d0343084-9696-4f0b-aed4-d0dd8ee673d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="01c7a309-f2a5-479a-99e5-b2f2f6792c50")>]

In [34]:
#Now we'll extract company names into as list using a for loop
company_name = []
for i in range(0,10):
    company_name.append(company_tags[i].text)

In [35]:
company_name

['Dell',
 'Talentify',
 'Delhivery',
 'GSK India',
 'IBM',
 'IBM',
 'IBM',
 'Dell',
 'IBM',
 'IBM']

In [27]:
#extracting all web elements having location of location
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="4ea567b8-80b6-47bb-8bdb-89bfdf3419b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="183bffa4-fab6-4f0f-bfaa-a42303020fba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="f9d2e57a-36fb-4c2e-8958-84bf536204c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="04225103-5ab1-47e3-8eb5-da3fec431ba8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="ca47292b-d309-4521-aaa4-2954a9870aea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="9db81747-7a44-47d2-a6b7-932518545c5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="c97cc133-b958-40dd-b3f9-167963720f1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="edff4f40-14df-4acf-962c-bd734c9ff202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="d5ac272b-df76-49d4-92c2-17713fdfb792")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="a7e5c327-93e0-4081-8ba2-41468d3e5aff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="530a95a4-3e20-4e88-8006-4c95e9a0514c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="8e1e1b1d-440b-4ac0-876a-7bfb0784dcf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="4ad551a2-041a-431b-aa9b-38e46e287a1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="679211c8-a530-488d-9d08-4519fa1afd74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="c4ebee76-cd87-435b-bd54-04f54546bf43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="a8762a44-dc22-452e-a12a-ff299cb20d68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="ffff521a-f2e5-4bca-a2a4-5c5ef692743b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="3fc5cd4e-e9aa-4669-8c15-bbffa8f8a873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="9dd4dda4-3f11-49a7-82f3-e3be91aabc6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80a0a2872c3ab670218eb912c0331978", element="fd8a0060-ded6-4c37-a194-a7968fd55ee4")>]

In [36]:
#extracting company location from web elements
job_location =[]

for i in range(0,10):
    job_location.append(location_tags[i].text)
    
job_location

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [29]:
#now we'll extract web elements having experience required for job
exp_tags=driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp_tags)

20

In [37]:
#extracting experience from web elements using for loop into a list
experience=[]
for i in range(0,10):
    experience.append(exp_tags[i].text)
experience

['3-5 Yrs',
 '0-1 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '12-15 Yrs',
 '5-7 Yrs',
 '3-4 Yrs',
 '12-15 Yrs']

In [38]:
len(job_titles),len(company_name),len(job_location),len(experience)

(10, 10, 10, 10)

In [39]:
#creating as dataframe and storing all extracted data into it
job_info=pd.DataFrame()
job_info['Job Title'] =job_titles
job_info['Company'] =company_name
job_info['Location'] = job_location
job_info['Experience Required'] = experience
job_info

,Job Title,Company,Location,Experience Required
0,Global Tax Automation & Operations - Data Scie...,Dell,Bangalore/Bengaluru,3-5 Yrs
1,Data Scientist / Analyst,Talentify,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",0-1 Yrs
2,Senior Data Scientist I,Delhivery,Bangalore/Bengaluru,3-7 Yrs
3,Senior Risk Data Scientist,GSK India,Bangalore/Bengaluru,5-10 Yrs
4,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru,5-10 Yrs
5,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru,5-10 Yrs
6,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru,12-15 Yrs
7,Global Tax Automation & Operations / Data Scie...,Dell,Bangalore/Bengaluru,5-7 Yrs
8,Data Scientist,IBM,Bangalore/Bengaluru,3-4 Yrs
9,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru,12-15 Yrs

## Q3.

In [40]:
driver1 =webdriver.Chrome('chromedriver.exe')

In [41]:
url='https://www.naukri.com/'
driver1.get(url)

In [42]:
search_text = driver1.find_element_by_class_name("suggestor-input ")
search_text

In [43]:
search_text.send_keys('Data Scientist')

In [46]:
search_btn = driver1.find_element_by_class_name('qsbSubmit')
search_btn

In [47]:
search_btn.click()

Now we will apply salary and location filters to get result.

In [48]:
lcn =driver1.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
lcn

In [50]:
lcn.click()

In [51]:
sal=driver1.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
sal

In [52]:
sal.click()

#### Extracting Data

We are going to extract data from website.

In [53]:
title =driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title)

20

In [54]:
job_name=[]
for i in range(0,10):
    job_name.append(title[i].text)
job_name

['Opening For Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Junior Data Scientist - Goods & Service Tax Network, Delhi',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead']

In [58]:
locn= driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn)

20

In [60]:
location =[]
for i in range(0,10):
    location.append(locn[i].text)
location

['Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida',
 'New Delhi',
 'Delhi / NCR',
 'Noida',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram(Cyber City +1)']

In [61]:
company_tag =driver1.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tag)

20

In [63]:
company = []
for i in range(0,10):
    company.append(company_tag[i].text)
company

['Care Health Insurance',
 'Chegg',
 'Stefanini',
 'Tide Software',
 'NISG (National Institute for Smart Government)',
 'Smart work Consultants',
 'Cloudstrats Technologies Private Limited',
 'Zekardo Automotive Solutions',
 'Team Computers Pvt Ltd',
 'NebulARC Technologies Private Limited']

In [64]:
exp_tags =driver1.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp_tags)

20

In [65]:
expn = []
for i in range(0,10):
    expn.append(exp_tags[i].text)
expn

['1-5 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '0-4 Yrs']

In [67]:
job=pd.DataFrame({'Job Title':job_name,'Comapany':company,'Location':location,'Experience':expn})
job

,Job Title,Comapany,Location,Experience
0,Opening For Data Scientist,Care Health Insurance,Gurgaon/Gurugram,1-5 Yrs
1,Data Scientist II,Chegg,Delhi / NCR,2-6 Yrs
2,Data Scientist,Stefanini,Noida,3-8 Yrs
3,Lead Data Scientist - KYC/Fraud/Marketing,Tide Software,New Delhi,1-6 Yrs
4,Junior Data Scientist - Goods & Service Tax Ne...,NISG (National Institute for Smart Government),Delhi / NCR,3-8 Yrs
5,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,Noida,1-4 Yrs
6,Data Scientist,Cloudstrats Technologies Private Limited,"New Delhi, Delhi / NCR, Mumbai (All Areas)",3-5 Yrs
7,Data Scientist,Zekardo Automotive Solutions,Gurgaon/Gurugram\n(WFH during Covid),5-8 Yrs
8,Data Scientist,Team Computers Pvt Ltd,New Delhi,2-6 Yrs
9,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",0-4 Yrs

## Q4.

In this question we have to scrape brand information of sunglasses from Flipkart.

In [4]:
#first we will coonect to webdriver using selenium
driver = webdriver.Chrome('chromedriver.exe')

In [5]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [6]:
search_text =driver.find_element_by_class_name('_3704LK')
search_text

In [7]:
search_text.send_keys('sunglasses')

In [8]:
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [9]:
search_btn.click()

###### Extracting Data

We will create 3 empty lists which will store brand name,product discription and price of product.

In [10]:
product_name=[]
discription=[]
price=[]

In [11]:
#extracting web elements which have product name 
product_tags=driver.find_elements_by_class_name('_2WkVRV')
len(product_tags)

40

In [12]:
# we will get the names of products from the web elements
#we'll be using for loop for that

for i in product_tags:
    product_name.append(i.text)
len(product_name)

40

In [13]:
#extracting web elements of product discription
dcn_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(dcn_tags)

40

In [14]:
#getting product discription from web elements

for i in dcn_tags:
    discription.append(i.text)
len(discription)

40

In [15]:
#extracting price web elements
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [16]:
for i in price_tags:
    price.append(i.text)
len(price)

40

In [31]:
#Now we will click on next button to navigate on next page
next_btn=driver.find_element_by_class_name('_1LKTO3')
next_btn

In [18]:
next_btn.click()

In [19]:
product_tags=driver.find_elements_by_class_name('_2WkVRV')
len(product_tags)

40

In [20]:
for i in product_tags:
    product_name.append(i.text)
len(product_name)

80

In [22]:
dcn_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(dcn_tags)

39

In [23]:
for i in dcn_tags:
    discription.append(i.text)
len(discription)

79

In [24]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [25]:
for i in price_tags:
    price.append(i.text)
len(price)

80

Discription at location 75 id not available adding N.A at that location in that list to make all lists equal length.

In [26]:
discription.insert(75,'N.A.')

In [28]:
len(discription)

80

In [43]:
#Again navigating to next page to get reamaining data
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn

In [44]:
next_btn.click()

In [45]:
product_tags=driver.find_elements_by_class_name('_2WkVRV')
len(product_tags)

40

In [46]:
for i in range(0,20):
    product_name.append(product_tags[i].text)
len(product_name)

100

In [47]:
dcn_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(dcn_tags)

40

In [48]:
for i in range(0,20):
    discription.append(dcn_tags[i].text)
len(discription)

100

In [49]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [50]:
for i in range(0,20):
    price.append(price_tags[i].text)
len(price)

100

In [51]:
sunglasses = pd.DataFrame()
sunglasses['Product Name'] = product_name
sunglasses['Discription'] = discription
sunglasses['Price'] = price

In [54]:
sunglasses

,Product Name,Discription,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹679
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243
...,...,...,...
95,elegante,UV Protection Oval Sunglasses (Free Size),₹389
96,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156
97,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹281
98,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹170
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,533"

## Q5.

In [2]:
#staring web driver
driver = webdriver.Chrome('chromedriver.exe')

In [3]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC'
driver.get(url)

###### Extracting the Data

we'll first declare empty list is which we store extracted data

In [4]:
rating =[]
review = []
full_review = []

In [6]:
all_reviews =driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
all_reviews.click()

In [7]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rating_tags)

10

In [8]:
for i in rating_tags:
    rating.append(i.text)
len(rating)

10

In [9]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(review_tags)

10

In [10]:
for i in review_tags:
    review.append(i.text)
len(review)

10

In [11]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(full_rev_tags)

10

In [12]:
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

10

In [13]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_btn.click()

In [14]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

20

In [15]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

20

In [16]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

20

In [17]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [18]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

29

In [19]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

30

In [20]:
#inserting poor rating at its location as it has different class 
rt =driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[10]/div/div/div/div[1]/div')
rating.insert(27,rt.text)

In [22]:
len(rating)

30

In [23]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

30

In [24]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [25]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

39

In [26]:
rt=driver.find_element_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
rating.append(rt.text)

In [27]:
len(rating)

40

In [28]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

40

In [29]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

40

In [30]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [31]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

49

In [32]:
rt = driver.find_element_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
rating.insert(44,rt.text)

In [33]:
len(rating)

50

In [34]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

50

In [35]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

50

In [36]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [37]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

60

In [38]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

60

In [39]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

60

In [40]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [41]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

70

In [42]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

70

In [43]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

70

In [44]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [45]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

78

In [46]:
rt =driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
len(rt)

2

In [47]:
rating.insert(71,rt[0].text)
rating.insert(74,rt[1].text)

In [48]:
len(rating)

80

In [49]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

80

In [50]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

80

In [51]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [52]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

90

In [53]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

90

In [54]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

90

In [55]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn.click()

In [56]:
rating_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating.append(i.text)
len(rating)

99

In [57]:
rt =driver.find_element_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
rating.insert(94,rt.text)
len(rating)

100

In [58]:
review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_tags:
    review.append(i.text)
len(review)

100

In [59]:
full_rev_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_rev_tags:
    full_review.append(i.text)
len(full_review)

100

In [60]:
#creating dataframe of extracted data
Iphone_reviews =pd.DataFrame()
Iphone_reviews['Rating']=rating
Iphone_reviews['Review']=review
Iphone_reviews['Full Review']=full_review
Iphone_reviews

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Must buy!,Camera is excellent just lack of telephoto mod...
99,5,Excellent,It was amazing experience for me. Honestly i a...

## Q6.

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [67]:
driver.get('https://www.flipkart.com/')

In [68]:
search_tab=driver.find_element_by_class_name('_3704LK')
search_tab

In [70]:
search_tab.send_keys('sneakers')

In [74]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

###### Extracting the Data
First,we'll declare 4 lists in which we store extracted data

In [75]:
brand =[]
discription =[]
price =[]
discount =[]

In [76]:
brand_tags=driver.find_elements_by_class_name('_2WkVRV')
len(brand_tags)

40

In [77]:
for i in brand_tags:
    brand.append(i.text)
len(brand)

40

In [79]:
dis_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(dis_tags)

33

In [80]:
for i in dis_tags:
    discription.append(i.text)
len(discription)

33

In [83]:
dc = driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
len(dc)

7

In [84]:
discription.insert(15,dc[0].text)
discription.insert(23,dc[1].text)
discription.insert(27,dc[2].text)
discription.insert(29,dc[3].text)
discription.insert(31,dc[4].text)
discription.insert(35,dc[5].text)
discription.append(dc[6].text)
len(discription)

40

In [93]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [94]:
for i in price_tags:
    price.append(i.text)

In [95]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disc_tags)

40

In [96]:
for i in disc_tags:
     discount.append(i.text)

In [98]:
next_btn =driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn.click()

In [99]:
brand_tags=driver.find_elements_by_class_name('_2WkVRV')
len(brand_tags)

40

In [100]:
for i in brand_tags:
    brand.append(i.text)
len(brand)

80

In [101]:
dis_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(dis_tags)

30

In [102]:
for i in dis_tags:
    discription.append(i.text)
len(discription)

70

In [103]:
dc = driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
len(dc)

10

In [104]:
discription.insert(44,dc[0].text)
discription.insert(46,dc[1].text)
discription.insert(50,dc[2].text)
discription.insert(54,dc[3].text)
discription.insert(56,dc[4].text)
discription.insert(58,dc[5].text)
discription.insert(60,dc[6].text)
discription.insert(63,dc[7].text)
discription.insert(71,dc[8].text)
discription.insert(76,dc[9].text)

In [105]:
len(discription)

80

In [111]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in price_tags:
    price.append(i.text)
len(price)

80

In [112]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in disc_tags:
    discount.append(i.text)
len(discount)

80

In [113]:
next_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn.click()

In [114]:
brand_tags=driver.find_elements_by_class_name('_2WkVRV')
for i in range(0,20):
    brand.append(brand_tags[i].text)
len(brand)

100

In [115]:
dis_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(dis_tags)

31

In [116]:
dc =driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')

In [117]:
dis_tags.insert(7,dc[0])
dis_tags.insert(12,dc[1])
dis_tags.insert(16,dc[2])
dis_tags.insert(19,dc[3])

In [118]:
for i in range(0,20):
    discription.append(dis_tags[i].text)
len(discription)

100

In [ ]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

for i in range(0,20):
    price.append(price_tags[i].text)

In [124]:
len(price)

100

In [125]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

for i in range(0,20):
    discount.append(disc_tags[i].text)
len(discount)

100

In [126]:
#creating dataframe for extracted data
sneakers_df=pd.DataFrame({'Brand':brand,'Discription':discription,'Price':price,'Discount':discount})
sneakers_df

,Brand,Discription,Price,Discount
0,Nilatin,Sneakers For Men,₹499,75% off
1,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"₹2,499",41% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹649,59% off
3,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹599,82% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹259,80% off
...,...,...,...,...
95,Destony,X-Ray 2 Square Sneakers For Men,₹399,45% off
96,PUMA,Sneakers For Men,"₹3,849",75% off
97,aadi,Sneakers For Men,₹499,30% off
98,RapidBox,Sneakers For Men,₹690,64% off
99,Numenzo,Sneakers For Men,₹455,31% off

## Q7.

In [29]:
driver= webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.myntra.com/shoes')

###### Applying Filters

In [4]:
price_fltr=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_fltr

In [5]:
price_fltr.click()

In [6]:
color_fltr=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_fltr

In [7]:
color_fltr.click()

###### Extracting The Data

In [9]:
#creating empty lists to store extracted data
brand= []
discription= []
price=[]

In [10]:
#extracting brand name
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

50

In [11]:
for i in brand_tags:
    brand.append(i.text)
len(brand)

50

In [12]:
#extracting product discription
discription_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(discription_tags)

50

In [13]:
for i in discription_tags:
    discription.append(i.text)
len(discription)

50

In [16]:
#extracting product price
price_tags= driver.find_elements_by_class_name('product-price')
len(price_tags)

50

In [22]:
for i in price_tags:
    price.append(i.text)

In [37]:
len(price)

50

In [38]:
next_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
next_btn.click()

In [39]:
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tags)

50

In [40]:
for i in brand_tags:
    brand.append(i.text)
len(brand)

100

In [41]:
discription_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(discription_tags)

50

In [42]:
for i in discription_tags:
    discription.append(i.text)
len(discription)

100

In [43]:
price_tags= driver.find_elements_by_class_name('product-price')
len(price_tags)

50

In [44]:
for i in price_tags:
    price.append(i.text)
len(price)

100

In [45]:
#crearing dataframe
shoes_df=pd.DataFrame()
shoes_df['Brand']= brand
shoes_df['Discription']= discription
shoes_df['Price']= price

In [46]:
shoes_df.head()

            Brand                     Discription      Price
0            Nike         Men AIR ZOOM PEGASUS 38  Rs. 10920
1            ALDO            Men Printed Sneakers   Rs. 9099
2            Nike  Men Blazer Court Skateboarding   Rs. 7495
3  Tommy Hilfiger            Men Leather Sneakers   Rs. 7999
4            Puma   Men Jamming 2.0 Running Shoes  Rs. 12999

## Q8.

In [3]:
driver.get('https://www.amazon.in/')

In [4]:
search_text = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_text

In [5]:
search_text.send_keys('laptop')

In [6]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

###### Extracting the Data

###### Applying Filters

First,applying processor filter as 'Intel Core i7" and extract the data

In [7]:
filter1=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[11]/span/a/div/label/i')
filter1.click()

In [8]:
#creating empty lists to store extracted data
title =[]
ratings =[]
price =[]

In [9]:
title_tags =driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(title_tags)

30

In [10]:
for i in range(0,10):
    title.append(title_tags[i].text)
len(title)

10

In [21]:
#locating Ratings

urls=driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')#collecting urls of all the laptop

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops

for url in UR:#loop for every laptop in the list

    driver.get(url)

    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found

        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating

        ratings.append(rating.text)#appending the ratings in Ratings list

        

    except :

        ratings.append("NO rating")#appending the No rating if no rating is there

In [15]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [17]:
filter1=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i')
filter1.click()

In [18]:
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price_tags)

30

In [19]:
for i in range(0,10):
    price.append(price_tags[i].text)
len(price)

10

In [27]:
#creating data frame for data of i7 processor
I7_df=pd.DataFrame({'Title':title,'Rating':ratings,'Price':price})
I7_df

                                               Title        Rating   Price
0  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  4.4 out of 5  90,999
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  4.4 out of 5  89,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  4.3 out of 5  59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  4.6 out of 5  86,490
4  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  4.3 out of 5  96,990
5  LG Gram Intel Evo 11th Gen Core i7 17 inches U...  4.6 out of 5  99,999
6  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  4.1 out of 5  84,990
7  ASUS VivoBook K15 OLED (2021), 15.6-inch (39.6...     NO rating  82,990
8  HP Pavilion Gaming 11th Gen Intel Core i7 Proc...    2 out of 5  95,990
9  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5  59,990

In [49]:
search_btn=driver.find_element_by_xpath('/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [50]:
filter2=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
filter2.click()

In [30]:
title_tags=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(title_tags)

10

In [31]:
title=[]
for i in title_tags:
    title.append(i.text)
len(title)

10

In [32]:
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price=[]

for i in price_tags:
    price.append(i.text)

In [51]:
#locating Ratings
ratings =[]
urls=driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')#collecting urls of all the laptop

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops

for url in UR:#loop for every laptop in the list

    driver.get(url)

    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found

        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating

        ratings.append(rating.text)#appending the ratings in Ratings list

        

    except :

        ratings.append("NO rating")#appending the No rating if no rating is there

In [52]:
I9_df =pd.DataFrame({'Title':title,'Rating':ratings,'Price':price})
I9_df

                                               Title        Rating     Price
0  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  4.3 out of 5  1,43,990
1  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...    5 out of 5  1,39,990
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  4.3 out of 5  1,44,990
3  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...     NO rating  2,43,000
4  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...     NO rating  2,25,000
5  (Renewed) DELL XPS 7590 15.6-inch UHD Display ...     NO rating  1,75,000
6  HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 N...    5 out of 5  2,54,563
7  Dell Precision 5550 || i9 -10885H || 16GB || 1...     NO rating  2,25,000
8  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...     NO rating  2,39,000
9  HP ZBook Power G8/ Intel Core i9-11950H 2.5GHz...     NO rating  2,93,000

## Q9.

In [75]:
driver.get('https://www.ambitionbox.com/')

In [76]:
job =driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [77]:
job_search =driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
job_search.send_keys('Data Scientist')

In [79]:
select =driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/a')
select.click()

In [80]:
loc =driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
loc.click()

In [81]:
loc_search =driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
loc_search.send_keys('Noida')

In [82]:
loc_select =driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
loc_select.click()

In [85]:
#company name
company_name =[]
company_tags=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_tags:
    company_name.append(i.text)

In [90]:
jobs=pd.DataFrame({'Company Name':company_name})
jobs

                   Company Name
0    Jubilant Foodworks Limited
1              HCL Technologies
2                  CHT Sapiense
3    Pitney Bowes India Pvt ltd
4                         Zyoin
5          Ameriprise Financial
6  One97 Communications Limited
7                         Zyoin
8                     Stefanini
9   Pylon Management Consulting

## Q10.

In [16]:
driver.get('https://www.ambitionbox.com/')

In [17]:
sal_btn=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal_btn.click()

In [19]:
search_job = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job.send_keys('Data Scientist')

In [21]:
a =(driver.find_elements_by_xpath('//div[@class="name"]'))

In [23]:
#getting company names
company=[]
for i in a:
    company.append(i.text.split('\n')[0])
company

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [25]:
#total salary record
sal_record =[]
for i in a:
    sal_record.append(i.text.split('\n')[1].split(' ')[2])
sal_record

['10', '25', '13', '25', '75', '30', '51', '14', '13', '43']

In [46]:
exp_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_required= []

for i in exp_tags:
    exp_required.append(i.text.split('\n')[2].split(' ')[0]+' '+(i.text.split('\n')[2].split(' ')[1]))
len(exp_required)

10

In [34]:
sal_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')

min_sal =[]
for i in range(0,20,2):
    min_sal.append(sal_tags[i].text)

max_sal =[]
for i in range(1,20,2):
    max_sal.append(sal_tags[i].text)

print(len(min_sal),len(max_sal))

10 10

In [35]:
avg_sal_tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]')

avg_sal=[]
for i in avg_sal_tags:
    avg_sal.append(i.text)
len(avg_sal)

10

In [48]:
#creating dataframe
salary_df = pd.DataFrame()
salary_df['Company Name']=company
salary_df['Salary Records']=sal_record
salary_df['Experience Required'] =exp_required
salary_df['Minimum Salary'] =min_sal
salary_df['Maximum Salary'] =max_sal
salary_df['Average Salary'] =avg_sal
salary_df

,Company Name,Salary Records,Experience Required,Minimum Salary,Maximum Salary,Average Salary
0,Walmart,10,3 yrs,₹ 17.7L,₹ 35.0L,₹ 28.7L
1,Ab Inbev,25,3-4 yrs,₹ 15.0L,₹ 25.5L,₹ 20.2L
2,ZS,13,2 yrs,₹ 9.8L,₹ 20.0L,₹ 15.5L
3,Optum,25,3-4 yrs,₹ 11.0L,₹ 21.3L,₹ 15.1L
4,Fractal Analytics,75,2-4 yrs,₹ 9.5L,₹ 22.0L,₹ 15.1L
5,Tiger Analytics,30,3-4 yrs,₹ 9.0L,₹ 18.5L,₹ 14.2L
6,UnitedHealth,51,2-4 yrs,₹ 8.3L,₹ 20.5L,₹ 13.8L
7,Verizon,14,4 yrs,₹ 10.0L,₹ 21.0L,₹ 12.7L
8,Ganit Business Solutions,13,4 yrs,₹ 8.5L,₹ 15.0L,₹ 12.4L
9,Ericsson,43,3-4 yrs,₹ 5.8L,₹ 24.0L,₹ 11.9L